@import "@/assets/scss/_main";



.content-login{
 background-color: $branco;    
 height: 80%;
 width: 600px;
 border-radius: 10px;
 box-shadow: 0px 0px 18px -9px #00000059;
 align-items: center;
 display: flex;
 justify-content: center;
}

